    <style>
        h1, h2, h3, h4 {
           font-size: 24px;
           color: black;
        }

        .introduction {
          background-color: #F3FDE8;
          padding: 20px;
          text-align: left;
          border-radius: 8px;
        }

        .contact {
          background-image: url("https://png.pngtree.com/background/20220922/original/pngtree-white-background-abstract-picture-image_1918635.jpg"); /* ảnh nền tuỳ chọn */
          background-repeat: repeat;   /* lặp lại ảnh nền */
          border-radius: 8px;
        }
        table, th, td {
          border: 1px solid black;   /* viền 1px màu đen */
          border-collapse: collapse; /* gộp viền, tránh viền đôi */
          padding: 8px;              /* khoảng cách trong ô */
          text-align: center;        /* căn giữa nội dung */
        }
        nav, footer {
              background-color: #d4f2f4;
              color: #0b0848;
              padding: 10px;
              text-align: center;
        }
        nav a {
              color: #0b0848;
              text-decoration: none;
              margin: 0 15px;
              font-weight: bold;
        }
        nav a:hover {
              text-decoration: underline;
        }
        .section {
              padding: 20px;
        }
    </style>